/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov

build.log
/dist
/xemu.ini
/macos-libs/
/macos-pkgs/
/xemu.iconset/
/build-ps5/
/dist/
/ps5/builds/
/ps5/deps/prefix/
/ps5/deps/src/
